<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.jsp_mybatis_board_servletapi.mapper.TestMapper">
    <insert id="InsertTest" parameterType="com.jw.jsp_mybatis_board_servletapi.dto.TestDTO">
        INSERT INTO Test_Table_ServletAPI (test_id, test_name)
        VALUES (#{test_id}, #{test_name})
    </insert>
    <select id="selectById" resultType="com.jw.jsp_mybatis_board_servletapi.dto.TestDTO">
        select * from TEST_TABLE_SERVLETAPI where test_id = #{test_id}
    </select>
    <select id="selectAllTest" resultType="com.jw.jsp_mybatis_board_servletapi.dto.TestDTO">
        select * from TEST_TABLE_SERVLETAPI where test_name = #{test_name}
    </select>
    <update id="updateNameById" parameterType="com.jw.jsp_mybatis_board_servletapi.dto.TestDTO">
        update TEST_TABLE_SERVLETAPI Set test_name = #{test_name} where TEST_ID = #{test_name}
    </update>
    <delete id="deleteById" parameterType="com.jw.jsp_mybatis_board_servletapi.dto.TestDTO">
        delete from TEST_TABLE_SERVLETAPI where TEST_ID = #{test_id}
    </delete>


</mapper>